MONGO_URI=mongodb+srv://username:password@cluster0.wuazcuk.mongodb.net/your-database-name
JWT_SECRET=your_jwt_secret_here
CLIENT_URL_LOCAL=http://localhost:3000
CLIENT_URL_PROD=https://your-vercel-frontend.vercel.app
PORT=5000
